In [8]:
import re
import csv
import string
import operator

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from collections import Counter

import pandas as pd
import numpy as np

stop_words = set(stopwords.words('english'))

ola

In [2]:
def generate_ngrams(sentence: str, n: int):
    # Convert sentence to lowercase and remove punctuation
    import string
    sentence = sentence.lower().translate(str.maketrans('', '', string.punctuation))

    # Split sentence into words
    words = sentence.split()
        
    # Generate N-grams
    ngrams = []
    for i in range(len(words) - n + 1):
        ngrams.append(' '.join(words[i:i+n]))

    return ngrams

In [20]:
def build_dict(data, characters,n):
    values = []
    
    for character in characters:
            lines = []
            counts = []
            words = []

            for row in data:
                if row[-2] == character:
                    #we only want dialogue
                    #str = remove_scenes_actions(row[-1])
                    lines.append(row[-1])

            n_grams = []

            for line in lines:
                #remve punctuation
                line = line.translate(str.maketrans('', '', string.punctuation))

                if n==1:
                    line = word_tokenize(line)

                    for word in line:
                        if word not in stop_words and word != "â€™":
                            words.append(word.lower())    
                
                else:
                    n_gram = generate_ngrams(line,n)
                    for word in n_gram:
                        n_grams.append(word)


            if n==1:
                counts = Counter(words)
                counts = sorted(counts.items(), key=lambda x: x[1], reverse=True)
            
            else:
                counter = {}
                for elem in n_grams:
                    if elem in counter:
                        counter[elem]+=1
                    else:
                        counter[elem]=1
                counter_sorted = sorted(counter.items(), key=operator.itemgetter(1))
                counts = counter_sorted[::-1]


            values.append(counts)

    dict = {key: value for key, value in zip(characters, values)}

    return dict

In [4]:
def build_dict_old(data, characters,n):
    values = []

    for character in characters:
            lines = []

            for row in data:
                if row[-2] == character:
                    #we only want dialogue
                    #str = remove_scenes_actions(row[-1])
                    lines.append(row[-1])

            n_grams = []

            for line in lines:
                #remve punctuation
                line = line.translate(str.maketrans('', '', string.punctuation))

                n_gram = generate_ngrams(line,n)
                for word in n_gram:
                    n_grams.append(word)

            counter = {}
            for elem in n_grams:
                if elem in counter:
                    counter[elem]+=1
                else:
                    counter[elem]=1

            
            counter_sorted = sorted(counter.items(), key=operator.itemgetter(1))
            counts = counter_sorted[::-1]

            values.append(counts)

    dict = {key: value for key, value in zip(characters, values)}

    return dict

In [5]:
file = open("friends.csv", 'r', encoding="utf8")
csvreader = csv.reader(file)
data = list(csvreader)

characters =["Rachel", "Monica", "Joey", "Chandler", "Ross", "Phoebe"]

uni-grams

In [21]:
dict = build_dict(data, characters, 1)

df = pd.DataFrame.from_dict(dict, orient='index')

df_new = df.iloc[:, 0:15]

# displaying the DataFrame
df_new.T.style

bi-grams

In [22]:
dict = build_dict(data, characters, 2)

df = pd.DataFrame.from_dict(dict, orient='index')

df_new = df.iloc[:, 0:15]

# displaying the DataFrame
df_new.T.style

#df.to_csv('bigrams.xlsx',index=False)

tri-grams

In [23]:
dict = build_dict(data, characters, 3)

df = pd.DataFrame.from_dict(dict, orient='index')

df_new = df.iloc[:, 0:15]

# displaying the DataFrame
df_new.T.style

four-grams

In [24]:
dict = build_dict(data, characters, 4)

df = pd.DataFrame.from_dict(dict, orient='index')

df_new = df.iloc[:, 0:15]

# displaying the DataFrame
df_new.T.style

five-grams

In [25]:
dict = build_dict(data, characters, 5)

df = pd.DataFrame.from_dict(dict, orient='index')

df_new = df.iloc[:, 0:15]

# displaying the DataFrame
df_new.T.style

x-grams

In [26]:
dict = build_dict(data, characters, 8)

df = pd.DataFrame.from_dict(dict, orient='index')

df_new = df.iloc[:, 0:15]

# displaying the DataFrame
df_new.T.style